
@inherits UserInfoBase

@if (user == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{
    <h3>@user.FirstName @user.Surname Information</h3>

    <table class="table-striped"  cellpadding="10">
        <tbody>
            <tr>
                <td>Email Address</td>
                <td>@user.Email</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>@user.Title</td>
            </tr>
            <tr>
                <td>First name</td>
                <td>@user.FirstName</td>
            </tr>
            <tr>
                <td>Middle names</td>
                <td>@user.MiddleNames</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>@user.Surname</td>
            </tr>
            <tr>
                <td>Phone number</td>
                <td>@user.PhoneNumber</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <DxComboBox Data="@genders"
                                TextFieldName="Type"
                                @bind-SelectedItem="@SelectedGender">
                    </DxComboBox>
                </td>
            </tr>
            <tr>
                <td>Subcription type</td>
                @if (@user.IsTrial == true)
                {
                    <td>
                        <button type="button" class="btn btn-info btn-sm">Upgrade from Trial</button>
                    </td>
                }
                else
                {
                    <td>
                        <button type="button" class="btn btn-info btn-sm">Manage Subscripton</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Multi-factor authentication (MFA) enabled?</td>
                @if (@user.TwoFactorEnabled == true)
                {
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-sm">Disable</button>
                    </td>

                }
                else
                {
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm">Enable</button>
                    </td>
                }
            </tr>
        </tbody>
    </table>

}
